/* based on https://dribbble.com/shots/6508443-Architectural-Platform-Home-Animation */

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.left-menu {
    display: flex;
    margin-left: 20px;
}

.logo-color {
    color: darkblue
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-menu li {
    display: inline-block;
    padding: 10px 20px;
}

.left-menu li a {
    text-decoration: none;
    color: #6e6d7a;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.right-menu {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.right-menu .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    cursor: pointer;
}

.right-menu button {
    padding: 10px 16px;
    background-color: #ea4c89;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.page-title {
    font-family: 'Ms Madi', cursive;
    font-size: 92px;
    text-align: center;
}

.content-image img {
    margin: 20px auto;
    width: 900px;
    display: block;
}

.column-container {
    margin: 20px 50px;
    display: flex;
}

.column-container .column {
    flex: 0 32%;
    margin: 0 20px
}

.column-container .column p {
    font-size: 18px;
}

.footer {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
}

.contact-info li {
    display: inline-block;
    margin: 0px 30px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }